In [10]:
name= input("enter a Name: ")
age= int(input("enter age in years only: "))
height= float(input("enter height in feets: "))
weight= float(input("enter weight in Kgs: "))
print("Name:",name,", Age:",age,"years, Height:",height,"feet, Weight:",weight)
#print("Name:%s",%name,", Age:%d",%age,"years, Height:%f",%height,"feet, Weight:%f", %weight)
print("Name:%s, Age:%d years, Height:%f feet, Weight:%f" %(name, age, height, weight))

enter a Name: Ayaansh Reddy
enter age in years only: 5
enter height in feets: 3.5
enter weight in Kgs: 16
Name: Ayaansh Reddy , Age: 5 years, Height: 3.5 feet, Weight: 16.0
Name:Ayaansh Reddy, Age:5 years, Height:3.500000 feet, Weight:16.000000

In [12]:
print("Name:%s, Age:%d years, Height:%f feet, Weight:%f" %(name, age, height, weight))

Name:Ayaansh Reddy, Age:5 years, Height:3.500000 feet, Weight:16.000000