In [1]:
print("asd")

asd

In [2]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
print("The person we are taking about is", name, ". he is", age, "years old., he is about", weight, "kgs. Also, his height is about", height,".")

The person we are taking about is Jayaram . he is 3 years old., he is about 17.542352 kgs. Also, his height is about 2.78453 .

In [7]:
name_product = "apple"
cost = 10
color = "red"
print(name_product, cost, color,sep="-->")

apple-->10-->red

In [9]:
print("Hameer")
print("singh")
print("keesari")

Hameer
singh
keesari

In [10]:
print("Hameer", end=" ")
print("singh", end=" ")
print("keesari", end=" ")

Hameer singh keesari

In [11]:
print("Hameer", end="")
print("singh", end="")
print("keesari", end="")

Hameersinghkeesari

In [12]:
print("Hameer singh keesari")

Hameer singh keesari

In [15]:
print("Hameer\nsingh\nkeesari")

Hameer
singh
keesari

In [14]:
print(len("\n"))

1

In [16]:
print("Hameer \nsingh \nkeesari")

Hameer
singh
keesari

In [17]:
print("Hameer \ssingh \skeesari")

Hameer \ssingh \skeesari

In [18]:
print("\b")



In [19]:
print("\n")

In [20]:
print("\a")



In [22]:
s= "adf\nad\nasd\tasff\nadf\tasdf\nasf\naf"
print(s)

adf
ad
asd	asff
adf	asdf
asf
af

In [23]:
s= "adf\\nad\\nasd\\tasff\\nadf\\tasdf\\nasf\\naf"
print(s)

adf\nad\nasd\tasff\nadf\tasdf\nasf\naf

In [24]:
print(len("\\n"))

2

In [25]:
s= "adf\nad\nasd\tasff\nadf\tasdf\nasf\naf"
print(s)

adf
ad
asd	asff
adf	asdf
asf
af

In [26]:
s= r"adf\nad\nasd\tasff\nadf\tasdf\nasf\naf"
print(s)

adf\nad\nasd\tasff\nadf\tasdf\nasf\naf

In [27]:
s="python"
s1=r"python"
print(type(s), type(s1))

<class 'str'> <class 'str'>

In [28]:
print("Hameer 'singh' keesari")

Hameer 'singh' keesari

In [29]:
print("Hameer 'singh' "kee"sari")

SyntaxError: invalid syntax (<ipython-input-29-5c60111c5040>, line 1)

In [30]:
print("Hameer ''\n'singh ' '\n'keesari")

Hameer ''
'singh ' '
'keesari

In [31]:
print("Hameer 'singh' "kee"sari")

SyntaxError: invalid syntax (<ipython-input-31-5c60111c5040>, line 1)

In [32]:
print("Hameer 'singh' \"kee\"sari")

Hameer 'singh' "kee"sari

In [33]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
print("The person we are taking about is",name,". he is",age,"years old. he is about",weight,"kgs. Also, his height is about",height,".",sep=" ")

The person we are taking about is Jayaram . he is 3 years old. he is about 17.542352 kgs. Also, his height is about 2.78453 .

In [34]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
print("The person we are taking about is", name, ". he is", age, "years old., he is about", weight, "kgs. Also, his height is about", height,".",sep="")

The person we are taking about isJayaram. he is3years old., he is about17.542352kgs. Also, his height is about2.78453.

In [36]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
s="The person we are taking about is", name, ". he is", age, "years old., he is about", weight, "kgs. Also, his height is about", height,"."
print(s, type(s))

('The person we are taking about is', 'Jayaram', '. he is', 3, 'years old., he is about', 17.542352, 'kgs. Also, his height is about', 2.78453, '.') <class 'tuple'>

In [41]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
s=f"The person we are taking about is {name}. he is {age} years old. he is about {round(weight,2)} kgs. Also, his height is about {round(height,2)} ."
print(s, type(s))

The person we are taking about is Jayaram. he is 3 years old. he is about 17.54 kgs. Also, his height is about 2.78 . <class 'str'>

In [39]:
round(weight)

18

In [40]:
round(weight,2)

17.54

In [42]:
round?

In [43]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
s=f"The person we are taking about is {name}. he is {age} years old. he is about {round(weight,2)} kgs. Also, his height is about {round(height,2)} ."
print(s)

The person we are taking about is Jayaram. he is 3 years old. he is about 17.54 kgs. Also, his height is about 2.78 .

In [52]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
#format specifiers
s="The person we are taking about is %s. he is %s years old. he is about %s kgs. Also, his height is about %s ."%(name, age, weight, height)
print(s)

The person we are taking about is Jayaram. he is 3 years old. he is about 17.542352 kgs. Also, his height is about 2.78453 .

In [51]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
#format specifiers
print("The person we are taking about is %s. he is %s years old. he is about %s kgs. Also, his height is about %s ."%(name, age, weight, height))

The person we are taking about is Jayaram. he is 3 years old. he is about 17.542352 kgs. Also, his height is about 2.78453 .

In [53]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
#format specifiers
print("The person we are taking about is %s. he is %i years old. he is about %d kgs. Also, his height is about %d ."%(name, age, weight, height))

The person we are taking about is Jayaram. he is 3 years old. he is about 17 kgs. Also, his height is about 2 .

In [54]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
#format specifiers
print("The person we are taking about is %s. he is %i years old. he is about %f kgs. Also, his height is about %f ."%(name, age, weight, height))

The person we are taking about is Jayaram. he is 3 years old. he is about 17.542352 kgs. Also, his height is about 2.784530 .

In [57]:
name = "Jayaram"
age = 3
weight = 17.542352
height = 2.78453
#format specifiers
print("The person we are taking about is %s. he is %d years old. he is about %.3f kgs. Also, his height is about %.2f ."%(name, age, weight, height))

The person we are taking about is Jayaram. he is 3 years old. he is about 17.542 kgs. Also, his height is about 2.78 .

In [58]:
print("%i"%10.23)

10

In [59]:
print("%g"%10.23)

10.23

In [60]:
print("%gs"%10.23)

10.23s

In [61]:
print("%ws"%10.23)

ValueError: unsupported format character 'w' (0x77) at index 1

In [63]:
for i in range(ord("a"),ord("z")):
    c="%"+chr(i)
    try:
        print(c%23)
    except:
        pass
    else:
        print("worked for %s"%c)

23
worked for %a

worked for %c
23
worked for %d
2.300000e+01
worked for %e
23.000000
worked for %f
23
worked for %g
23
worked for %i
27
worked for %o
23
worked for %r
23
worked for %s
23
worked for %u
17
worked for %x

In [64]:
s=23
print("%f"%s)

23.000000

In [65]:
a=2589
print("%o"%a)# converts to octal

5035

In [67]:
a=2589
print("%x"%a)# converts to hexadecimal

a1d

In [69]:
a=2589
print("%X"%a)# converts to capital letter block letters

A1D

In [72]:
s="asdas\ndad\ngfad\nfasf"
print(s)

asdas
dad
gfad
fasf

In [73]:
s=r"asdas\ndad\ngfad\nfasf"
print(s)

asdas\ndad\ngfad\nfasf

In [74]:
s=r"asdas\ndad\ngfad\nfasf"
print("%r"%s)

'asdas\\ndad\\ngfad\\nfasf'

In [75]:
s="asdas\ndad\ngfad\nfasf"
print("%r"%s)

'asdas\ndad\ngfad\nfasf'

In [25]:
"""
Print a Menu
Kinds of mobiles available in the store
    1. Android
    2. Windows
    2. Mac
    4. All tabs
Enter an option: 1-> goto second floor; 2-> goto first floor; 3-> goto third floor; 4-> select in the ground floor;
if they enter any other number or char: We are not providing service for the selection
"""
print("Kinds of mobiles available in the store are as follows: \n \t1. Android\n \t2. Windows\n\t3. Mac\n \t4. All other tabs\nEnter the option: \n \t1-> For Android device.\n \t2-> For Windows device\n \t3-> For Mac device\n \t4-> For all other devices")
s= input("Please enter an option from the above list:")
if (((s >= "a" and s <= "z") or (s >= "A" and s <= "Z")) or (s >= "5" and s <= "0") ):
    print("Sorry. We are not providing service for the given selection.")
else:
    if int(s) == 1:
        print("Please goto first floor.")
    elif int(s) == 2:
        print("Please goto second floor.")
    elif int(s) == 3:
        print("Please goto third floor.")
    elif int(s) == 4:
        print("Please goto ground floor.")

Kinds of mobiles available in the store are as follows:
 	1. Android
 	2. Windows
	3. Mac
 	4. All other tabs
Enter the option:
 	1-> For Android device.
 	2-> For Windows device
 	3-> For Mac device
 	4-> For all other devices
Please enter an option from the above list:0

In [16]:
s= input("Please enter an option from the above list:")
type(int(s))

Please enter an option from the above list:a

ValueError: invalid literal for int() with base 10: 'a'

In [19]:
s= input("Please enter an option from the above list:")
if ((s >= "a" and s <= "z") or (s >= "A" and s <= "Z")):
    print("Sorry. We are not providing service for the given selection.")

Please enter an option from the above list:a
Sorry. We are not providing service for the given selection.

In [38]:
"""
Print a Menu
Kinds of mobiles available in the store
    1. Android
    2. Windows
    2. Mac
    4. All tabs
Enter an option: 1-> goto second floor; 2-> goto first floor; 3-> goto third floor; 4-> select in the ground floor;
if they enter any other number or char: We are not providing service for the selection
"""
print("Kinds of mobiles available in the store are as follows: \n \t1. Android\n \t2. Windows\n\t3. Mac\n \t4. All other tabs\nEnter the option: \n \t1-> For Android device.\n \t2-> For Windows device\n \t3-> For Mac device\n \t4-> For all other devices")
s= input("Please enter an option from the above list:")
#if (((s >= "a" and s <= "z") or (s >= "A" and s <= "Z")) or (s >= int(s) and s <= int(s)) ):
#    print("Sorry. We are not providing service for the given selection.")
#else:
if s in ["1", "2", "3", "4"]:
    if s == "1":
        print("Please goto first floor.")
    elif s == "2":
        print("Please goto second floor.")
    elif s == "3":
        print("Please goto third floor.")
    elif s == "4":
        print("Please goto ground floor.")
else:
    print("Sorry. We are not providing service for the given selection.")

Kinds of mobiles available in the store are as follows:
 	1. Android
 	2. Windows
	3. Mac
 	4. All other tabs
Enter the option:
 	1-> For Android device.
 	2-> For Windows device
 	3-> For Mac device
 	4-> For all other devices
Please enter an option from the above list:a
Sorry. We are not providing service for the given selection.